.root {
  display: flex;
  flex-direction: column !important;
  gap: 20px;
  padding-bottom: 20px;
  background-color: var(--gray-3);
}

.container {
  display: flex !important;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 100%;
}

.leftBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  gap: 15px;
}

.rightBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
}

.assignmentsWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.topic {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
}
