.filterSearch {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  .ant-input-search {
    width: 300px;
  }
  gap: 10px;
}
.container {
  width: 100%;
  padding: 0;
}
.icon {
  margin-right: 10px;
}
.iconCheck {
  color: green;
}
.pagination {
  background-color: white !important;
}
.table-head {
  background-color: var(--blue-500);

  p {
    color: #fff;
  }

  .table-cell {
    min-width: 180px;
    color: #fff !important;
  }
  .status {
    width: 150px;
  }
}
.row {
  cursor: pointer;
  &:hover {
    background-color: var(--cultured-gray);
  }
}
