.sideBar {
  width: 300px;
  overflow: auto;
  flex-shrink: 0;
  height: 100%;
  & [class~="MuiDrawer-paper"] {
    width: 300px;
    top: 64px !important;
    box-sizing: border-box;
  }
}

.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selectedItem {
  background-color: #f0f0f0;
}

.unselectedItem {
  background-color: transparent;
}

.itemIcon {
  color: rgba(37, 43, 54, 0.38);
}
.selectedIcon {
  color: black;
}
.item {
  &:hover {
    background-color: #e0e0e0;
    .itemIcon {
      color: black;
    }
  }
}

.childItem {
  &:hover {
    background-color: #e0e0e0;
    .itemIcon {
      color: black;
    }
  }
}

.agentText {
  color: rgb(43, 43, 194) !important;
  font-size: 20px !important;
  margin-left: 10px !important;
  line-height: 2rem !important;
}

.TitleContainer {
  display: flex;
  align-items: center;
}
