.root {
  display: flex;
  flex-direction: column !important;
  gap: 20px;
  background-color: var(--blue-1);
}

.container {
  display: flex !important;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: fit-content;
}

.tabWrapper {
  border-bottom: 1px solid var(--gray-10);
  display: flex;
  align-items: center;
  padding: 15px 40px;

  .breadCump {
    span:hover {
      cursor: pointer;
      color: black;
    }
  }
}

.formBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
}

.stickyFooterItem {
  background-color: #ffffff;
  border-top: 1px solid var(--gray-30);
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: 10;
}

.phantom {
  display: block;
  height: 60px;
  width: 100%;
}

.stickyFooterContainer {
  position: relative;
}

.textEditor {
  height: 200px;
}
