.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  background-color: var(--blue-1);

  .detailContainer {
    .generalDetailsContainer {
      display: flex;
      & [class~="MuiBox-root"] {
        padding-right: 30px;
      }
    }
    .trendingStackContainer {
      padding: 0;
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
  .contestListContainer {
    .contestListButtonGroup {
      & [class~="MuiToggleButtonGroup-root"] {
        & [class~="MuiButtonBase-root"] {
          background-color: rgb(255, 255, 255);
          border-radius: 20px;
          border: 0;
          margin-right: 10px;
        }
        & [class~="Mui-selected"] {
          background-color: var(--blue-500);
          color: white;
        }
      }
    }
  }
}
