.container {
    max-width: 320px;
    max-height: 300px;
    margin: 20px 10px 50px ;
    cursor: pointer;
    .imageContainer {
        height: 100%;
    }
   

    & [class~="MuiGrid-container"] {
        & [class~="MuiGrid-item"]:first-child {
            padding-top: 0px;
            height: 200px;
        }
    } 
    .contestDetail {
        padding: 10px;
    }
}
.container:hover {
    color: var(--blue-hover);
}