.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  gap: 20px;
  padding-bottom: 10px;
  background-color: #eaf1fe !important;
  .back {
    margin-top: 20px;
  }
}

.imageLogin {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loginContainer {
  background-color: white !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 15px 20px;
  border-radius: 8px;

  .centerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form {
      width: 80%;

      .formContent {
        line-height: 160%;
      }
    }
    .formControl {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .social {
      display: flex;
      justify-content: center;
      gap: 10px;
      .socialIcon {
        padding: 10px;
        color: white;
        border-radius: 8px;
      }
      .socialIconGoogle {
        background-color: #db4437;
      }
      .socialIconMicrosoft {
        background-color: #00a4ef;
      }
    }
  }
}
