.root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  background-color: var(--blue-1);
}

.container {
  display: flex;
  background-color: white;
}

.mainContent {
  background-color: var(--blue-1);
  margin-top: 64px;
}

.formBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
}

.drawerBody {
  padding: 20px;
}

.drawerFieldContainer {
  margin-bottom: 20px;
}

.inputTextfield {
  &[class~="Mui-disabled"] {
    background: var(--gray-5);
    ::placeholder {
      color: var(--gray-20);
    }
    .iconErrorOutline {
      display: none;
    }
  }
  ::placeholder {
    color: var(--gray-50);
    font-weight: 400;
    font-size: 16px;
    opacity: 1;
  }

  :focus {
    caret-color: var(--blue-500);
  }

  input {
    padding: 8px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: var(--eerie-black);
  }

  fieldset {
    border-width: 1px !important;
    border-color: var(--gray-40);
  }
}

.textEditor {
  height: 200px;
}

#breadcumpWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  flex-grow: 1;

  #icArrow {
    color: var(--blue-500);
    width: 20px;
    height: 15px;
  }
  .cursorPointer {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
