.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  background-color: var(--blue-1);
}

.pageTitle {
  margin: 10px 0 0 10px;
}
.featureGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

  .changeViewButtonGroup {
    padding: 20px;
    height: 100%;
  }
  .filterContainer {
    width: 100%;
  }
}

.container {
  display: flex !important;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: fit-content;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
}
