.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  background-color: var(--blue-1);
}

.container {
  display: flex;
  background-color: white;
}

.mainContent {
  background-color: var(--blue-1);
  margin-top: 64px;
}

.formBody {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;

  .textEditor {
    height: 200px;
  }
}

#breadcumpWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  flex-grow: 1;

  #icArrow {
    color: var(--blue-500);
    width: 20px;
    height: 15px;
  }
  .cursorPointer {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.drawerBody {
  padding: 20px;
}

.drawerFieldContainer {
  margin-bottom: 20px;
}
