.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  background-color: var(--blue-1);
}

.container {
  display: flex !important;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  background-color: white;
  border-radius: 5px;
  height: 100%;
  gap: 20px;
}

.btnWrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
