.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  background-color: var(--blue-1);
}

#main {
  margin-bottom: 40px;
  .container {
    @media (min-width: 1200px) {
      max-width: 1440px;
    }
  }

  #filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    .couseCertificatesByTopic {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .couseCertificatesByTopicItem {
        display: flex;
        align-items: center;
        gap: 10px;

        .checkbox {
          padding: 0px;
          transform: scale(1.2);
        }

        .couseCertificatesByTopicTitle {
          span {
            color: var(--gray-60);
          }
        }
      }
    }
  }

  #banner {
    height: 300px;
    display: flex;
    align-items: center;

    #bannerContainer {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    #bannerSearch {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }

  #couseCertificatesWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .couseCertificatesByTopic {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .courseCerticate {
        background-color: white;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid var(--gray-30);
        padding: 16px;

        &:hover {
          box-shadow: 0 2px 10px #0000001a;
        }

        .imgCourse {
          img {
            width: 60px;
            height: 60px;
            border-radius: 10px;
            object-fit: cover;
          }
        }

        .courseDescription {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .iconCourse {
          display: flex;
          align-items: center;
          gap: 16px;

          .fileIcon {
            color: var(--gray-50);
          }

          .iconLevel {
            width: 16px;
            height: 16px;
          }

          p {
            color: var(--gray-50);
          }
        }
      }
    }
  }
}
