.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  gap: 20px;
  padding-bottom: 10px;
  background-color: #eaf1fe !important;
}

.imageLogin {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loginContainer {
  background-color: white !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 15px 20px;
  border-radius: 8px;

  .formControl {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;

    .option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 10px;
    .socialIcon {
      padding: 10px;
      color: white;
      border-radius: 8px;
    }
    .socialIconGoogle {
      background-color: #db4437;
    }
    .socialIconMicrosoft {
      background-color: #00a4ef;
    }
  }
}
