.navbarItem {
  flex-grow: 1;
  display: none;

  @media (min-width: 900px) {
    // equivalent to 'md' in Material-UI
    display: flex;
  }
}

.navbarAuthItem {
  flex-grow: 0;
  display: none;

  @media (min-width: 900px) {
    // equivalent to 'md' in Material-UI
    display: flex;
  }
}
.wrapper {
  display: flex;
  align-items: center;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  padding: 0 56px;
}
.item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  color: black !important;
  display: block;

  &:hover {
    color: var(--blue-500) !important;
    background-color: white !important;
  }
}
.header {
  background-color: white !important;
  box-shadow: 0 2px 4px #00000026 !important;
  .logo {
    .imageLogo {
      margin-top: 5px;
      width: 120px;
    }
    cursor: pointer;
  }
}

.imageProfile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.menuProfile {
  padding: 10px;
  & [class~="MuiPaper-root"] {
    right: 40px !important;
    left: auto !important;
    top: 60px !important;
  }

  .logout {
    color: var(--red-error);

    .iconLogout {
      color: var(--red-error);
    }
  }
}
