.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  background-color: var(--blue-1);
}

.container {
  display: flex !important;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.tabWrapper {
  border-bottom: 1px solid var(--gray-10);
  display: flex;
  align-items: center;
  padding: 15px 40px;
}

.stickyBack {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px 0;

  .backButton {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 5px;

    &:hover {
      cursor: pointer;
      color: var(--blue-500);
      .backIcon {
        font-size: 20px;
        color: var(--blue-500);
      }
    }
    .backIcon {
      font-size: 20px;
      color: #737373;
    }
  }
}

.titleInput {
  padding: 10px 20px !important;
  font-size: 30px !important;
}

.content {
  position: relative;

  .actionBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    gap: 20px;

    .postBtn {
      background-color: var(--green-600);
    }
    .cancelBtn {
      background-color: var(--gray-30);
    }
  }
}
.markdownEditor {
  height: calc(100vh - 240px) !important;
  .w-md-editor-toolbar button {
    font-size: 20px; /* Điều chỉnh kích thước font chữ */
    width: 40px; /* Điều chỉnh chiều rộng của nút */
    height: 40px; /* Điều chỉnh chiều cao của nút */
  }
}
.breadCump {
  display: flex;
  align-items: center;
  gap: 10px;
}
