.root {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  display: flex;
  flex-direction: column !important;
  padding-bottom: 10px;
  background-color: var(--blue-1);
}

.container {
  margin-top: 64px;
  padding: 40px 0px;

  @media (min-width: 900px) {
    // equivalent to 'md' in Material-UI
    display: flex;
  }

  .courseLearningList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .courseLearningItem {
      display: flex;
      max-width: 656px;
      align-items: center;
      padding: 20px 24px;
      gap: 16px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      background-color: white;
      border-radius: 8px;

      .titleContainer {
        display: flex;
        gap: 16px;
        width: 100%;
      }

      @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
      }

      .courseLearningItemContent {
        width: 100%;
      }
      .learnBtn {
        text-transform: none;
        height: fit-content;
        width: 100px;
        & [class~="MuiButtonBase-root"] {
          width: 100px;
        }
        @media (max-width: 450px) {
          width: 100%;
          & [class~="MuiButtonBase-root"] {
            width: 100%;
          }
        }
      }
    }
  }
  .wrapperCourseRecommend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }

  .imageCourse {
    min-width: 56px;
    max-height: 56px;
    object-fit: cover;
    border-radius: 8px;
  }
  .courseRecommend {
    width: 100%;
  }
  .courseCerticateContainer {
    overflow: auto;
    width: 100%;
  }
  .courseCerticate {
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 2px 10px #0000001a;
    }

    .titleCourse {
      display: flex;
      flex-direction: column;

      .imgCourse {
        img {
          width: 60px;
          height: 60px;
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }

    .courseDescription {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .iconCourse {
      display: flex;
      align-items: center;
      gap: 16px;

      .fileIcon {
        color: var(--gray-50);
      }

      .iconLevel {
        width: 16px;
        height: 16px;
      }

      p {
        color: var(--gray-50);
      }
    }
  }

  .contest {
    margin-top: 20px;
  }
}
