.navbarItem {
  flex-grow: 1;
  display: none;

  @media (min-width: 900px) {
    // equivalent to 'md' in Material-UI
    display: flex;
  }
}

.navbarAuthItem {
  flex-grow: 0;
  display: none;

  @media (min-width: 900px) {
    // equivalent to 'md' in Material-UI
    display: flex;
  }
}

.item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  color: white !important;
  display: block;
}
.header {
  position: fixed;
  z-index: 1000;

  .logo {
    .imageLogo {
      width: 60px;
    }
  }
}

.section {
  background-color: var(--blue-500);
  color: white;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.logo {
  .imageLogo {
    width: 100px;
  }
}
