@import url("https://fonts.googleapis.com/css2?family=Galdeano&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Candal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

:root {
  --blue-light: #73b1f4;
  --blue-light-1: #3b87db;
  --blue-light-2: #7cafe7;
  --blue-light-3: #bed7f3;
  --blue-light-4: #e8f1fb;
  --blue-light-5: #f6f9fc;
  --blue-dark-1: #17497f;
  --blue-dark-2: #103055;
  --blue-dark-3: #08182a;

  --green-50: #e8f5e9;
  --green-100: #c8e6c9;
  --green-200: #a5d6a7;
  --green-300: #81c784;
  --green-400: #66bb6a;
  --green-500: #32cd32;
  --green-600: #33b249;

  --blue-1: #ebf3ff;
  --blue-50: #ecf1f8;
  --blue-100: #d9e3ef;
  --blue-200: #b2c7df;
  --blue-300: #8caacf;
  --blue-400: #658ebf;
  --blue-500: #3f72af;
  --blue-600: #2f5683;
  --blue-700: #203958;
  --blue-800: #101d2c;
  --blue-900: #060b12;

  --orange-1: #ff4500;
  --orange-2: #ff5e0e;
  --orange-3: #ff7f50;
  --orange-4: #ff6347;
  --orange-200: #ffcc80;
  --orange-400: #ffa726;

  --darkblue-50: #e8ebee;
  --darkblue-100: #cfd5dc;
  --darkblue-200: #a0abb8;
  --darkblue-300: #708195;
  --darkblue-400: #415771;
  --darkblue-500: #112d4e;
  --darkblue-600: #0d223b;
  --darkblue-700: #091727;
  --darkblue-800: #040b14;
  --darkblue-900: #020508;

  --gray-02: #373d3f;
  --gray-1: #fbfbfb;
  --gray-2: #f9f9f9;
  --gray-3: #f5f5f5;
  --gray-4: #fafafa;
  --gray-5: #f4f4f4;
  --gray-6: #a7afb2;
  --gray-10: #e8e8e8;
  --gray-20: #d2d2d2;
  --gray-30: #bbbbbb;
  --gray-40: #a4a4a4;
  --gray-50: #8d8d8d;
  --gray-60: #767676;
  --gray-80: #494949;
  --gray-90: #333333;

  --ghost-white: #fafaff;

  --eerie-black: #1c1c1c;
  --eerie-black-00: #000000;
  --eerie-black-5: #1c1c1c0d;
  --eerie-black-20: #1c1c1c33;
  --eerie-black-30: #1b1a1e;
  --eerie-black-40: #1c1c1c66;
  --eerie-black-65: #1c1c1ca6;

  --blue-link: #1976d2;
  --blue-hover: #64b5f6;
  --white: #ffffff;
  --eerie-black-90: rgba(28, 28, 28, 0.9);
  --orange-light: #f8e8bf;
  --orange-dark: #753e00;
  --cultured-gray: #eef0f2;
  --red-error: #ff2c2c;
  --warning: #f2bb2e;
  --white: #ffffff;
  --warning-dark: #9b6907;
  font-size: 16px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
