body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Inter, sans-serif;
}
